.m-splash-h1 {
  color: white;
  font-weight: 100;
}

.m-splash-h2 {
  color: white;
  font-weight: 300;
}

.m-splash-h3 {
  color: white;
  font-weight: 300;
}

.m-splash-opt-container {
  text-align: center;
}

.m-splash-grid-form {
  position: absolute;
}

.m-splash-h1 {
  font-size: 8vw !important;
}
.m-splash-h2 {
  font-size: 7vw !important;
  letter-spacing: normal;
}
.m-splash-h3 {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 4vw !important;
  letter-spacing: .2vw;
}
.m-splash-opt-container#ops {
  grid-column: 1 !important;
}
.m-splash-opt-container#sci {
  grid-column: 2 !important;
}
.m-splash-opt-container#biz {
  grid-column: 3 !important;
}
.m-splash-options {
  height: 24vw !important;
  width: 24vw !important;
  border-width: 1vw !important;
  font-size: 10vw !important;
  padding-top: 2px !important;
  padding-right: 1px !important;
}
.m-splash-opt-text {
  font-size: 12px;
}
.m-splash-cta-item {
  width: 60vw !important;
  border-width: 2.4px !important;
  height: 32px !important;
  border-radius: 4px !important;
}
.m-splash-cta-item#email {
  color: #DCF3FD !important;
  font-size: 16px !important;
  padding-left: 4px !important;
  line-height: 28px !important;
}
.m-splash-cta-item#submit {
  font-size: 16px !important;
  line-height: 30px !important;
  padding: 0px !important;
  margin: auto !important;
}
.m-splash-cta-container {
  height: 36px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.m-splash-grid-container {
  grid-template-rows: 10% 20% 8% 16% 6% 10% 4% 16% 10%;
  width: 100vw;
}
.m-splash-grid-i2 {
  grid-row-start: 4;
  grid-row-end: 5;
  margin-top: 16%;
  margin-left: 12%;
  margin-right: auto;
  height: inherit;
  display: inline-flex;
}
.m-splash-grid-i4 {
  grid-row-start: 6;
  grid-row-end: 9;
  padding-top: 24px;
}

.splash-subtitle-link {
  color: white;
  text-decoration: none;
}

.splash-subtitle-link:hover {
  text-decoration: underline;
  font-weight: 500;
}

.m-splash-opt-container {
  /* padding-left: 24px;
  padding-right: 24px; */
  text-align: center;
}

.m-splash-opt-text {
  color: white;
  font-family: DINPro-Regular;
  padding-top: 4px;
  letter-spacing: normal;
}

.m-splash-options {
  /* height: 106px !important; 
  width: 106px !important;  */
  margin: auto;
  /* border-width: 4px; */
  border-color: #97DBFA !important;
  color: white !important;
}

.m-splash-cta-item {
  border-style: solid;
}

.m-splash-cta-item#email {
  background: none !important;
  border-color: #DCF3FD;
  font-family: 'FiraCode-Retina' !important;
}

.m-splash-cta-item#submit {
  border-color: #97DBFA;
  color: white;
  text-transform: uppercase;
  letter-spacing: .8px;
}

/*copied from index.css, needs to be refactored for DRYness*/

.m-splash-grid-container {
  position: relative;
  top: 64px;
  display: grid;
  min-height: 100vh;
  z-index: 77;
  font-size: 3rem;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Lato, Calibi, 'Trebuchet MS', sans-serif;
  color: white;
  /* background-color: #001529; */
  grid-template-rows: repeat(16, calc(100% / 16))
}

.m-splash-grid-i--1 {
  grid-row: 2;
}

.m-splash-grid-i1 {
  grid-row: 3;
}

.m-splash-grid-i1_2 {
  grid-row: 4;
}

.m-splash-grid-i2 {
  grid-row: 5;
}

.m-splash-grid-i2_3 {
  grid-row: 6;
}

.m-splash-grid-i3 {
  grid-row: 7;
}

.m-splash-grid-i3_4 {
  grid-row: 8;
  font-weight: 100;
  font-family: 'DINPro-Regular';
  font-size: 12vw !important;
}

.m-splash-grid-i4 {
  grid-row: 9;
  padding-top: 8%;
  font-family: 'DINPro-Regular';
  font-weight: 100;
  font-size: 12vw !important;
}

.m-splash-grid-i4_5 {
  grid-row: 11;
}

.m-splash-grid-i5 {
  grid-row: 14;
}

.m-splash-grid-i-fig {
  grid-row: 6 / 11;
}

.emphasis {
  font-family: 'DIN-RegularItalic';
  color: #F8E71C;
}


.m-prod-container {
  width: 100vw; 
  height: calc(100vh - 64px); 
  position: relative; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 0px auto; 
  min-height: 300px;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 64px;
  background-color: #001529;
}

.scroll-container {
  z-index: -1;
  height: 400vh;
  width: 100%;
  top: 100vh;
  position: absolute;
}

.m-prod-content-active * {
  stroke-opacity: 1;
  fill-opacity: 1;
}

.m-prod-content-inactive * {
  fill-opacity: "0.0";
  stroke-opacity: "0.0";
  opacity: "0.0";
  fill: none;
  stroke: none;
}

.m-splash-opt-container#ops {
  grid-column: 1;
}
.m-splash-opt-container#sci {
  grid-column: 2;
}
.m-splash-opt-container#biz {
  grid-column: 3;
}

.m-cta-container {
  position: absolute;
  z-index: 77;
  top: 500vh; 
  width: 100%; 
  background-color: rgb(0, 21, 40);
  /* border: 1px solid green; */
}

.m-cta-grid-i1 {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  grid-row: 2 / 5;
  width: 100%;
}

.m-cta-grid-btn-container {
  grid-row: 6 / 10;
  display: grid;
  grid-template-columns: 10% 20% 10% 20% 10% 20% 10%;
}

.m-cta-btn {
  border: 4px solid #9ADFFA;
  border-radius: 12px;
  grid-column: 2 / 7;
  display: grid;
  grid-template-rows: 10% 10% 10% 20% 30% 20%;
  grid-template-columns: 88% 6% 4% 2%;
}

.m-cta-btn-text {
  text-align: center;
  color: white;
  font-family: 'DINPro-Regular';
  font-size: 12vw;
  grid-row: 2 / 5;
  grid-column: 1 / 3;
  margin-left: 4%;
}

.m-cta-plus-btn {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
  margin-left: -8%;
}

.m-cta-input-container {
  grid-row: 11 / 14;
}